.section {
	text-align: center;
}

.profile {
	border-radius: 25%;
	width: 20%;
	display: block;
	margin: auto;
}

#intro p {
	text-align: center;
}

#intro li {
	width: 100%;
	text-align: center;
}

#one a:hover {
	opacity: 0.5;
}

#one h3, #one p {
	margin-left: 15px;
}

.skills-icons {
	font-size: 100px;
	padding: 30px;
}

.skills-icons > i {
	float: left;
	display: block;
	padding: 10px;
	color: #dddddd;
}

.group:after {
	content: "";
	display: block;
	clear: both;
}

.projects {
	padding-top: 14px;
}

.buttons > a {
	margin-right: 10px;
}

.icons {
	font-size: 50px;
	margin-bottom: 0px;
}

.contact {
	text-align: center;
}

#footer .inner {
	text-align: center;
}
